{% extends 'main.html'%} 

{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
</head>
<body>
    <form action="{{ url_for('signin_done') }}" method="get">
        <p>EMAIL: </p>
        <input type="email" name="email" id="email">
        <p>PASSWORD: </p>
        <input type="password" name="pwd" id="pwd">
        <button type="submit">회원가입</button>
    </form>
    {% block user %}
    {% endblock %}
</body>
</html>
{% endblock %}

