{% extends 'main.html'%} 
{% block list %} {% endblock %}
{% block schedule %} {% endblock %}
{% block food %} {% endblock %}


{% block contents %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
</head>
<body>
    <form action="{{ url_for('signin_done') }}" method="post">
      <label for="basic-url" class="form-label">ID를 입력해주세요.</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">ID</span>
        <input type="text" class="form-control" name="userid" id="userid">
      </div>
      <label for="basic-url" class="form-label">Email을 입력해주세요.</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">EMAIL</span>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <label for="basic-url" class="form-label">Password를 입력해주세요.</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">PASSWORD</span>
        <input type="password" class="form-control" name="pwd" id="pwd">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">회원가입</button>
      </div>
    </form>
    {% block user %}
    {% endblock %}
</body>
</html>
{% endblock %}
